<!-- favorites/templates/favorites/favorite_list.html -->
{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>My Favorites</h1>
  <ul>
    {% for favorite in favorites %}
      <li>
        <a href="{{ favorite.url }}">{{ favorite.title }}</a>
        <form action="{% url 'toggle_favorite_star' %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="favorite_pk" value="{{ favorite.pk }}" />
            <button type="submit" name="action" value="favorite" class="fav-icon {% if favorite.is_favorited %}selected{% else %}unselected{% endif %}">
                {% if favorite.is_favorited %}
                    <img src="{% static 'path_to_selected_image' %}" alt="favorites" />
                {% else %}
                    <img src="{% static 'path_to_unselected_image' %}" alt="favorites" />
                {% endif %}
            </button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_favorite' %}">Add New Favorite</a>
{% endblock %}